@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif; 
 /* background: linear-gradient(45deg, #6200ea, #03dac6);*/
  color: white;
}


#root {
  display: flex;  
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
